*.toml linguist-detectable=true
*.toml linguist-language=toml
*.yaml linguist-detectable=true
*.yaml linguist-language=yaml
*.yml linguist-detectable=true
*.yml linguist-language=yml
*.kdl linguist-detectable=true
*.kdl linguist-language=kdl
