# ignore gcloud
gcloud/

# ignore 1password
op/

# ignore gh hosts (has PATs)
gh/hosts.yml

# ignore htop
htop/

# ignore zed but allow themes
zed/*
!zed/settings.json
!zed/themes/fleet.json

# ignore lazygit state
lazygit/state.yml

# ignore wireshark
wireshark/

# ngrok
ngrok/

# misc
.DS_Store

# uv
uv/

# copilot
github-copilot/
